SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/LoginActivity.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/RegisterActivity.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/api/FirebaseApi.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/auth/AuthManager.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/Models/User.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/Repositories/UserRepository.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/Repositories/UserCallback.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/auth/AuthCallback.java
SpeedySpoon/app/src/main/java/nje/gamf/speedyspoon/SpeedySpoonApplication.java
.vscode/settings.json
